<template>
  <span
    class="
      h-7.5
      bg-white
      text-secondary
      rounded
      font-semibold
      px-2
      flex
      items-center
      text-xs
    "
  >
    <slot />
  </span>
</template>
